* {
    margin: 0;
    padding: 0;
}

.col {
    height: 25vw;
}

.col:first-child {
    margin: 0;
    padding: 0;
    background-color: #f2f4f7;
}

table {
    background-color: #f2f4f7;
}

.action-icon {
    justify-self: flex-end;
}

.map {
    height: 100%;
    width: 100%;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.tab,
.container {
    width: 100%;
}

thead {
    width: 100%;
    background-color: #f2f4f7 !important;
}

button[data-active="true"] {
    background-color: white;
}

.custom-number {
    color: rgb(5, 138, 210);
    font-weight: bold;
    margin-left: 1px;
}

.methodIcon {
    transition: 0.2s;
}

.methodIcon:hover {
    color: blue;
}

.polyline {

}

.polyline {
	stroke-dasharray: 100;
    animation: dash 5s linear infinite;
	stroke-width: 3;
}

.polyline {
	fill: none;
	stroke-dasharray: 20 10; /* draws a 10px dash line with a 16px gap between */
	stroke-width: 3; /* make the dashed line slightly bigger than the one it's covering */
}

@keyframes dash {
  to {
    stroke-dashoffset: -300;
  }
}
